<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <style>
        .login,
        .signup {
            width: 100%;
            padding: 15px;
            background-color: #535b63;
            border: 0;
            box-sizing: border-box;
            cursor: pointer;
            font-weight: bold;
            color: #ffffff;
        }

        .message {
            color: red;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1>Welcome!</h1>
    <br><br><br>
    <form>

        <a class="login" href="/auth/login">Login</a>
        <a class="signup" href="/auth/register">Sign Up!</a>
    </form>




</body>

</html>